* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.main {
  background-image: url("Assets/background\ image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1500px, 120vw);  
  height: 644px;
  position: relative;
}
.main .box {
  height: 644px;
  width: 100%;
  opacity: 0.65;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  max-width: 78vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
nav img {
  color: red;
  width: 9.25rem;
  height: 2.5rem;
  position: relative;
  z-index: 10;
}
nav button {
  height: 2.2rem;
  width: 9rem;
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  gap: 25px;
  height: calc(100%-100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  color: white;
  position: relative;
  margin-top: 190px;
}
.hero span {
  /* font-family: 'Martel Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
}
.hero > :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}
.hero > :nth-child(2) {
  font-size: 24px;
  font-weight: 400px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-size: 24px;
  font-weight: 400px;
  text-align: center;
}
.separation {
  height: 7px;
  background-color: rgb(46, 45, 45);
  position: relative;
  z-index: 20;
}
.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(23, 23, 23, 0.021);
  border-radius: 1px solid rgba(250, 248, 248, 0.5);
  justify-content: space-between;
  /* border: 1px solid white; */
  cursor: pointer;
  /* z-index: 10; */
}
.btn img {
  width: 15px;
  height: 15px;
  /* padding-right: 80px; */
  align-items: center;
  justify-content: center;
}
.btn-red {
  background-color: red;
  color: white;
  padding: 16px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 200;
}
.main input {
  padding: 13px 134px 23px 22px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border-radius: 1px solid rgba(250, 248, 248, 0.5);
  color: white;
}
.btn-red-sm {
  background-color: red;
  color: white;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 70vw;
  margin: auto;
  /* flex-direction: column; */
}


.tv1 {
  position: relative;
}
.tv1 image {
  width: 555px;
  position: relative;
  z-index: 10;
}
.tv1 video {
  position: absolute;
  top: 136px;
  right: 93px;
  width: 460px;
}
.tv3-vid{
  position: absolute;
    top: -76px;
    right: 13px;
    width: 56px;
}
section.first>div{
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 24px;
}
.spans{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}
.faq h2{
  font-size: 48px;
  text-align: center;
}
.faq{
  background-color: black;
  color: white;
  padding: 34px;
  font-size: 24px;
}
.faqbox:hover{
  background-color: #414141;
  transition:all 85ms ease-out ;
}
.faqbox{
  cursor: pointer;
  max-width: 72vw;
  display: flex;
  background-color:#2d2d2d;
  padding: 24px;
  margin:12px auto;
  justify-content: space-between;
}

footer{  
  color: white;
  max-width: 65vw;
  margin:40px 140px;
  padding: 15px;
  /* margin: 20px; */
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer a{
  font-size: 14px;
  color: rgb(166, 164, 164);
}

.footer-items{
  display: flex;
  flex-direction: column;
  gap: 23px;
}


footer .questions{
  padding: 34px 0;
  color: rgb(166, 164, 164);
  font-weight: bold;
}

footer h2{
  margin-top: 15px;
  font-size: small;
  font-weight: 300;
}

@media screen and (max-width: 1300px){
nav{
  max-width: 90vw;
}

  .first{
    flex-wrap: wrap;
  }
  
  .tv1{
    width: 305px;
  }
  .tv1 video{
    position: absolute;
    top: 80px;
    right: 43px;
    width: 222px;
  }
  .hero> :nth-child(1){
    font-size: 32px;
  }
  .hero> :nth-child(2){
    font-size: 18px;
  }
  .hero> :nth-child(3){
    font-size: 18px;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  footer{
    margin: 33px 45px;
  }
  
  section.first > div :nth-child(1) {
    font-size: 32px;
    font-weight: bolder;
    margin-top: 20px;
  }
  section.first > div :nth-child(2) {
    font-size: 18px;
  }
}